* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.Main_Panel{
    position: relative;
    height: 100%;
    width: 80%;
    background-color: #938b8b88;
    left: 10%;
}

h1 {
    top: 7%;
    position: absolute;
    width: 100%;
    text-align: center;
}

table{
    border-collapse: collapse;
}
  
td{
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 400px;
}

.background {
    position: relative;
    height: 100%;
    width: 80%;
    background-color: #938b8b88;
    left: 10%;
}
  
h1 {
    top: 7%;
    position: absolute;
    width: 100%;
    text-align: center;
}
  
.table-container {
    display: flex;
    justify-content: center;
}
  
table {
    margin-top: 50px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    width: 30%;
    height: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.round-button {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    background-color: #ffffff00;
    color: #000000;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
}

.position-button{
    margin-top: 60px;
    margin-left: 470px;
}

.blur-background {
    filter: blur(5px);
    pointer-events: none;
}

.close {
    color: #aaa;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.closeButton {
    position: fixed;
    background: red;
    right: 1%;
    top: 2%;
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;    
    line-height: 25px;
    z-index: 1001;
}