* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.panier {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}

.resume {
  position: absolute;
  height: 50%;
  width: 60%;
  background-color: #938b8b88;
  opacity: 0.3;
  display: inline-block;
  left: 20%;
  box-shadow: 3px 3px 3px black;
}

button {
  position: absolute;
  bottom: 0%;
  right: 0%;
  background-color: #0091ff;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  width: 10%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover {
  background-color: #0059ff;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

.reservationDetails {
  z-index: 1;
  position: absolute;
  left: 21%;
  bottom: 40%;
  height: 40%;
  width: 58%;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 2.1vh;
}
.quantite {
  position: relative;
  left: 50%;
  top: 10%;
}

.prixTotal {
  position: absolute;
  left: 80%;
}

#prixTotalElement.prixTotal {
  top: 60%;
}

#totalPrice {
  position: absolute;
  bottom: 0%;
  right: 0%;
}